@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

    .navbar{
        @apply flex flex-col shrink backdrop-blur-xl bg-transparent 
        justify-between w-full text-stone-400 
        py-10 font-extrabold text-3xl antialiased font-mono  lg:flex-row ;
    }
    .navbar-elements{
        @apply  mx-5 mt-2 hover:text-green-500 shrink ;  
        
    } 
    .navbar-border{
        @apply hover:border-b border-green-500  transition-all;
    }
    .course-card-grid{
        @apply w-full bg-stone-800 py-10;
    }
    .course-grid{
        @apply w-full bg-black py-10;
    }
}